/**
*   style.css
*
*   main css file for default theme
*
*/
/*<link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">*/
html,
body {
  min-height: 100% !important;
  height: 100%;
}
#pollider-public {
  height: 100%;
/*
        Animations
    */
}
#pollider-public a {
  transition: 0.25s all;
}
#pollider-public ul {
  list-style: none;
  padding: 0;
}
#pollider-public li {
  padding-left: 2.3em;
}
#pollider-public li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -2.3em;
  width: 2.3em;
}
#pollider-public .row {
/*min-height : 500px*/
  margin-bottom: 35px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
}
#pollider-public .desktop-only {
  display: inline-block;
}
#pollider-public .mobile-only {
  display: none;
}
#pollider-public .col-lg-1,
#pollider-public .col-lg-10,
#pollider-public .col-lg-11,
#pollider-public .col-lg-12,
#pollider-public .col-lg-2,
#pollider-public .col-lg-3,
#pollider-public .col-lg-4,
#pollider-public .col-lg-5,
#pollider-public .col-lg-6,
#pollider-public .col-lg-7,
#pollider-public .col-lg-8,
#pollider-public .col-lg-9,
#pollider-public .col-md-1,
#pollider-public .col-md-10,
#pollider-public .col-md-11,
#pollider-public .col-md-12,
#pollider-public .col-md-2,
#pollider-public .col-md-3,
#pollider-public .col-md-4,
#pollider-public .col-md-5,
#pollider-public .col-md-6,
#pollider-public .col-md-7,
#pollider-public .col-md-8,
#pollider-public .col-md-9,
#pollider-public .col-sm-1,
#pollider-public .col-sm-10,
#pollider-public .col-sm-11,
#pollider-public .col-sm-12,
#pollider-public .col-sm-2,
#pollider-public .col-sm-3,
#pollider-public .col-sm-4,
#pollider-public .col-sm-5,
#pollider-public .col-sm-6,
#pollider-public .col-sm-7,
#pollider-public .col-sm-8,
#pollider-public .col-sm-9,
#pollider-public .col-xs-1,
#pollider-public .col-xs-10,
#pollider-public .col-xs-11,
#pollider-public .col-xs-12,
#pollider-public .col-xs-2,
#pollider-public .col-xs-3,
#pollider-public .col-xs-4,
#pollider-public .col-xs-5,
#pollider-public .col-xs-6,
#pollider-public .col-xs-7,
#pollider-public .col-xs-8,
#pollider-public .col-xs-9 {
  padding-right: 0px;
  padding-left: 0px;
}
#pollider-public div.loading {
  position: fixed;
  left: 0;
  height: 2;
  display: inline-block;
  zIndex: 10;
  transition: 0.25s ease all;
}
#pollider-public header#main-header {
  width: 100%;
  height: 36px;
  position: relative;
  overflow: hidden;
}
#pollider-public div#content-parent-container {
  margin-right: 0;
}
#pollider-public div#content-parent-container #post-footer,
#pollider-public div#content-parent-container #post-header,
#pollider-public div#content-parent-container #post-content {
  transform: none;
  transition: 0.4s all;
}
#pollider-public div#content-parent-container #post-banner,
#pollider-public div#content-parent-container #scroll-down-wrapper {
  opacity: 1;
  transition: 0.4s all;
}
#pollider-public div#content-parent-container-toggled #post-footer,
#pollider-public div#content-parent-container-toggled #post-header,
#pollider-public div#content-parent-container-toggled #post-content {
  transform: translateX(-50%);
  transition: 0.4s all;
}
#pollider-public div#content-parent-container-toggled #post-banner,
#pollider-public div#content-parent-container-toggled #scroll-down-wrapper {
  transition: 0.4s all;
}
#pollider-public .toggle-close-button {
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 1;
  visibility: hidden;
}
#pollider-public div.toggle-content {
  padding: 0 150px 0 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#pollider-public div.toggle-content .greeting {
  font-size: 44px;
}
#pollider-public div.toggle-content p {
  font-size: 18px;
}
#pollider-public div.toggle-content .user-name {
  font-size: 25px;
}
#pollider-public #profile-home {
  right: 0;
  top: 0;
  z-index: 31;
  position: fixed;
  width: 50%;
  height: 100%;
}
#pollider-public #profile-home .content {
  height: 100%;
}
#pollider-public #profile-home .content .inner-content {
  height: 100%;
}
#pollider-public #profile-home #profile-parent {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-table;
}
#pollider-public #profile-home div.toggle-close-button {
  display: none;
}
#pollider-public #profile-home div.toggle-content {
  margin-top: 0;
  padding-left: 150px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}
#pollider-public #profile-home .scroll-down-button {
  display: none;
}
#pollider-public #contact-home {
  right: calc(-50% - 25px);
  top: 0;
  float: right;
  z-index: 31;
  position: fixed;
  width: calc(50% - 25px);
  height: 100%;
  transition: 0.6s all;
}
#pollider-public #contact-home div.content {
  background: #fff;
  height: 100%;
}
#pollider-public #contact-home div.toggle-close-button {
  visibility: visible;
}
#pollider-public #contact-home .inner-content {
  padding: 0;
  height: 100%;
}
#pollider-public #contact-home div.toggle-content {
  margin-top: 0;
  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#pollider-public #contact-home-toggled {
  right: 0;
  top: 0;
  float: right;
  z-index: 31;
  position: fixed;
  width: calc(50% - 25px);
  height: 100%;
  transition: 0.6s all;
}
#pollider-public #contact-home-toggled div.content {
  background: #fff;
  height: 100%;
}
#pollider-public #contact-home-toggled div.toggle-close-button {
  visibility: visible;
}
#pollider-public #contact-home-toggled .inner-content {
  padding: 0;
  height: 100%;
}
#pollider-public #contact-home-toggled div.toggle-content {
  margin-top: 0;
  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#pollider-public #home {
  padding: 0 150px 0 150px;
}
#pollider-public .home-body {
  width: calc(50% + 25px);
}
#pollider-public .home-thumbnail-container {
  padding-right: 100px;
}
#pollider-public div#profile-container {
  width: 50%;
  right: -50%;
}
#pollider-public div#profile-container-toggled {
  right: 0px;
  width: 50%;
}
#pollider-public div#contact-container {
  width: 50%;
  right: -50%;
  opacity: 0;
}
#pollider-public div#contact-container-toggled {
  right: 0px;
  width: 50%;
  opacity: 1;
}
#pollider-public div.content {
  position: relative;
  width: 100%;
/*padding: 70px 0 160px 0;*/
/*background: rgb(250,250,250);*/
}
#pollider-public div.content .inner-content {
  width: 100%;
  max-width: 1300px;
  padding: 0 150px 0 150px;
  display: table;
}
#pollider-public #post-banner {
  height: 550px;
  display: grid;
}
#pollider-public #scroll-down-wrapper {
  display: inline-block;
}
#pollider-public div#post-nav {
  position: absolute;
  right: 200px;
  width: 40px;
  transition: none;
}
#pollider-public div#mobile-nav {
  display: none;
}
#pollider-public div#post-content {
  font-size: 18px;
  letter-spacing: 0.85px;
  font-family: Hind;
  font-weight: 300;
  line-height: 35px;
  padding-right: 100px;
}
#pollider-public div#post-content p {
  margin-bottom: 0;
}
#pollider-public div#post-body a {
  text-decoration: none;
  border-bottom: 2px solid #4cd3ad;
  color: inherit;
  cursor: pointer;
}
#pollider-public div#post-body a:hover {
  color: #787878;
}
#pollider-public div#post-header {
  padding: 30px 100px 40px 0;
}
#pollider-public img.thumbnail-item-selected {
  opacity: 1;
  transition: 0.25s opacity linear;
}
#pollider-public img.thumbnail-item {
  opacity: 0;
  transition: 0.25s opacity linear;
}
#pollider-public .image-enlarge-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 30;
  opacity: 0;
  transition: 0.4s all;
}
#pollider-public .image-enlarge-container img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s all;
  max-height: 100%;
  max-width: 100%;
}
#pollider-public .image-enlarge-container-toggled {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 30;
  display: inline-block;
  opacity: 1;
  transition: 0.4s all;
}
#pollider-public .image-enlarge-container-toggled img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s all;
  max-height: 100%;
  max-width: 100%;
}
#pollider-public .image-scrolled-before {
  opacity: 0;
  margin-top: 100px;
  transition: 0.4s all;
}
#pollider-public .image-scrolled-after {
  opacity: 1;
  margin-top: 0px;
  transition: 0.4s all;
}
@-webkit-keyframes scroll-down-animation-1 {
  0% {
    height: 25px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 25px;
  }
}
@-webkit-keyframes scroll-down-animation-2 {
  0% {
    height: 25px;
  }
  50% {
    height: 40px;
  }
  100% {
    height: 25px;
  }
}
#pollider-public .loading-element circle {
  transform: translate(0, 5px);
  animation-name: loading-element-animation;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transition: 0.6s ease all;
}
#pollider-public .loading-element circle:nth-of-type(1) {
  animation-delay: 0s;
}
#pollider-public .loading-element circle:nth-of-type(2) {
  animation-delay: 0.2s;
}
#pollider-public .loading-element circle:nth-of-type(3) {
  animation-delay: 0.4s;
}
#pollider-public .loading-element circle:nth-of-type(4) {
  animation-delay: 0.6s;
}
@-webkit-keyframes loading-element-animation {
  0% {
    transform: translate(0, 5px);
    opacity: 1;
  }
  50% {
    transform: translate(0, 12.5px);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 5px);
    opacity: 1;
  }
}
#pollider-public .push {
  left: 50%;
}
#pollider-public .pull {
  right: 50%;
}
@media only screen and (max-width: 1200px) {
  #pollider-public #main-header {
    display: none;
  }
  #pollider-public div.content .inner-content {
    display: block;
    padding: 0 90px 0 90px;
  }
  #pollider-public .desktop-only {
    display: inline-block;
  }
  #pollider-public .mobile-only {
    display: none;
  }
  #pollider-public div#content-parent-container {
    margin-right: 0;
  }
  #pollider-public div#content-parent-container-toggled {
    overflow: hidden;
  }
  #pollider-public div#content-parent-container-toggled #post-footer,
  #pollider-public div#content-parent-container-toggled #post-header,
  #pollider-public div#content-parent-container-toggled #post-content {
    transform: none;
    transition: 0.4s all;
    opacity: 1;
  }
  #pollider-public div#content-parent-container-toggled #post-banner,
  #pollider-public div#content-parent-container-toggled #scroll-down-wrapper {
    opacity: 1;
    transition: 0.4s all;
  }
  #pollider-public div#content-parent-container-toggled #post-nav {
    display: none;
  }
  #pollider-public .toggle-close-button {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 15px;
    top: 15px;
    visibility: visible;
  }
  #pollider-public #profile-home {
    position: relative;
    float: left;
    padding-left: 0;
    padding-top: 0;
    width: 100%;
    padding-bottom: 0;
    min-height: 450px;
  }
  #pollider-public #profile-home #profile-parent {
    height: initial;
    width: 100%;
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
  }
  #pollider-public #profile-home div.toggle-close-button {
    visibility: hidden;
  }
  #pollider-public #profile-home div.toggle-content {
    margin-top: 0;
    margin-left: 0;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
    padding-left: 0;
  }
  #pollider-public #profile-home .content {
    height: 100%;
  }
  #pollider-public #profile-home .content .inner-content {
    height: 100%;
    padding-right: 0;
  }
  #pollider-public #profile-home .scroll-down-button {
    display: inline-block;
  }
  #pollider-public #contact-home {
    right: -100%;
    top: 0;
    float: right;
    z-index: 31;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    transition: 0.4s all;
  }
  #pollider-public #contact-home div.content {
    background: #fff;
    height: 100%;
  }
  #pollider-public #contact-home .inner-content {
    padding-left: inherit;
  }
  #pollider-public #contact-home div.toggle-content {
    margin-left: 0px;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #pollider-public #contact-home-toggled {
    right: 0;
    top: 0;
    float: right;
    z-index: 31;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    transition: 0.4s all;
  }
  #pollider-public #contact-home-toggled div.content {
    background: #fff;
    height: 100%;
  }
  #pollider-public #contact-home-toggled .inner-content {
    padding-left: inherit;
  }
  #pollider-public #contact-home-toggled div.toggle-content {
    margin-left: 0px;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #pollider-public .home-body {
    width: 100%;
  }
  #pollider-public div.toggle-content {
    margin-top: 0;
    padding: 0 50px 0 50px;
  }
  #pollider-public div.toggle-content .greeting {
    font-size: 42px;
  }
  #pollider-public div.toggle-content p {
    font-size: 18px;
  }
  #pollider-public div.toggle-content .user-name {
    font-size: 24px;
  }
  #pollider-public div#content-parent-container-toggled {
    margin-right: 0;
  }
  #pollider-public div#profile-container {
    box-shadow: -1px 1px 5px rgba(0,0,0,0.07);
  }
  #pollider-public div#profile-container-toggled {
    box-shadow: -1px 1px 5px rgba(0,0,0,0.07);
  }
  #pollider-public div#contact-container {
    box-shadow: -1px 1px 5px rgba(0,0,0,0.07);
  }
  #pollider-public div#contact-container-toggled {
    box-shadow: -1px 1px 5px rgba(0,0,0,0.07);
  }
  #pollider-public .code {
    font-family: Inconsolata;
  }
  #pollider-public .code p {
    margin-bottom: 0;
  }
  #pollider-public #home {
    float: left;
    padding: 0 10% 0 10%;
    width: 100%;
  }
  #pollider-public .home-thumbnail-container {
    padding-right: 0px;
  }
  #pollider-public div#post-nav {
    right: 90px;
  }
  #pollider-public div#mobile-nav {
    display: none;
  }
  #pollider-public div#post-header {
    padding-right: 70px;
  }
  #pollider-public div#post-content {
    padding-right: 70px;
  }
  #pollider-public .push {
    left: 50%;
  }
  #pollider-public .pull {
    right: 50%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1024px) {
  #pollider-public #scroll-down-wrapper,
  #pollider-public #post-banner {
    display: none;
  }
  #pollider-public .desktop-only {
    display: none;
  }
  #pollider-public .mobile-only {
    display: inline-block;
  }
  #pollider-public #home {
    float: left;
    padding: 0 10% 0 10%;
    width: 100%;
  }
  #pollider-public #home #mobile-nav {
    display: none !important;
  }
  #pollider-public div#mobile-nav {
    display: inline-block;
  }
  #pollider-public div.content .inner-content {
    padding: 0 60px 0 60px;
  }
  #pollider-public div#profile-container {
    width: 100%;
    right: -100%;
  }
  #pollider-public div#post-content {
    padding-right: 0;
  }
  #pollider-public div.toggle-content {
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
  #pollider-public div#profile-container-toggled {
    width: 100%;
    right: 0;
  }
  #pollider-public div#contact-container {
    width: 100%;
    right: -100%;
  }
  #pollider-public div#contact-container-toggled {
    width: 100%;
    right: 0;
  }
  #pollider-public #post-banner {
    height: initial;
  }
  #pollider-public div#post-nav {
    display: none;
  }
  #pollider-public #profile-home {
    position: relative;
    float: left;
    padding-left: 0;
  }
  #pollider-public .col-lg-1,
  #pollider-public .col-lg-10,
  #pollider-public .col-lg-11,
  #pollider-public .col-lg-12,
  #pollider-public .col-lg-2,
  #pollider-public .col-lg-3,
  #pollider-public .col-lg-4,
  #pollider-public .col-lg-5,
  #pollider-public .col-lg-6,
  #pollider-public .col-lg-7,
  #pollider-public .col-lg-8,
  #pollider-public .col-lg-9,
  #pollider-public .col-md-1,
  #pollider-public .col-md-10,
  #pollider-public .col-md-11,
  #pollider-public .col-md-12,
  #pollider-public .col-md-2,
  #pollider-public .col-md-3,
  #pollider-public .col-md-4,
  #pollider-public .col-md-5,
  #pollider-public .col-md-6,
  #pollider-public .col-md-7,
  #pollider-public .col-md-8,
  #pollider-public .col-md-9,
  #pollider-public .col-sm-1,
  #pollider-public .col-sm-10,
  #pollider-public .col-sm-11,
  #pollider-public .col-sm-12,
  #pollider-public .col-sm-2,
  #pollider-public .col-sm-3,
  #pollider-public .col-sm-4,
  #pollider-public .col-sm-5,
  #pollider-public .col-sm-6,
  #pollider-public .col-sm-7,
  #pollider-public .col-sm-8,
  #pollider-public .col-sm-9,
  #pollider-public .col-xs-1,
  #pollider-public .col-xs-10,
  #pollider-public .col-xs-11,
  #pollider-public .col-xs-12,
  #pollider-public .col-xs-2,
  #pollider-public .col-xs-3,
  #pollider-public .col-xs-4,
  #pollider-public .col-xs-5,
  #pollider-public .col-xs-6,
  #pollider-public .col-xs-7,
  #pollider-public .col-xs-8,
  #pollider-public .col-xs-9 {
    width: 100%;
    display: table-row !important;
    padding: 0 !important;
  }
  #pollider-public .push {
    left: 0;
  }
  #pollider-public .pull {
    right: 0;
  }
}
@media only screen and (max-width: 450px) and (orientation: portrait) {
  #pollider-public #home {
    float: left;
    padding: 0 15px 0 15px;
    width: 100%;
    height: calc(100% + 100px) !important;
  }
  #pollider-public #home #mobile-nav {
    display: none !important;
  }
  #pollider-public .desktop-only {
    display: none;
  }
  #pollider-public .mobile-only {
    display: inline-block;
  }
  #pollider-public #scroll-down-wrapper,
  #pollider-public #post-banner {
    display: none;
  }
  #pollider-public div#mobile-nav {
    display: inline-block;
  }
  #pollider-public div.content .inner-content {
    padding: 0 15px 0 15px;
  }
  #pollider-public div#profile-container {
    width: 100%;
    right: -100%;
  }
  #pollider-public #profile-home {
    position: relative;
    float: left;
    padding-left: 0;
  }
  #pollider-public div#profile-container-toggled {
    width: 100%;
    right: 0;
  }
  #pollider-public div#contact-container {
    width: 100%;
    height: calc(100% + 50px) !important;
    right: -100%;
  }
  #pollider-public div#contact-container-toggled {
    width: 100%;
    height: calc(100% + 50px) !important;
    right: 0;
    overflow-y: auto;
  }
  #pollider-public div#post-content {
    padding-right: 0px;
  }
  #pollider-public #post-banner {
    height: initial;
  }
  #pollider-public div#post-nav {
    display: none !important;
  }
  #pollider-public .image-enlarge-container,
  #pollider-public .image-enlarge-container-toggled {
    display: none !important;
  }
  #pollider-public div.toggle-content {
    margin-top: 0;
    padding: 0 20px 0 20px;
  }
  #pollider-public div.toggle-content .greeting {
    font-size: 40px;
  }
  #pollider-public div.toggle-content p {
    font-size: 18px;
    line-height: 32px !important;
  }
  #pollider-public div.toggle-content .user-name {
    font-size: 18px;
  }
  #pollider-public .col-lg-1,
  #pollider-public .col-lg-10,
  #pollider-public .col-lg-11,
  #pollider-public .col-lg-12,
  #pollider-public .col-lg-2,
  #pollider-public .col-lg-3,
  #pollider-public .col-lg-4,
  #pollider-public .col-lg-5,
  #pollider-public .col-lg-6,
  #pollider-public .col-lg-7,
  #pollider-public .col-lg-8,
  #pollider-public .col-lg-9,
  #pollider-public .col-md-1,
  #pollider-public .col-md-10,
  #pollider-public .col-md-11,
  #pollider-public .col-md-12,
  #pollider-public .col-md-2,
  #pollider-public .col-md-3,
  #pollider-public .col-md-4,
  #pollider-public .col-md-5,
  #pollider-public .col-md-6,
  #pollider-public .col-md-7,
  #pollider-public .col-md-8,
  #pollider-public .col-md-9,
  #pollider-public .col-sm-1,
  #pollider-public .col-sm-10,
  #pollider-public .col-sm-11,
  #pollider-public .col-sm-12,
  #pollider-public .col-sm-2,
  #pollider-public .col-sm-3,
  #pollider-public .col-sm-4,
  #pollider-public .col-sm-5,
  #pollider-public .col-sm-6,
  #pollider-public .col-sm-7,
  #pollider-public .col-sm-8,
  #pollider-public .col-sm-9,
  #pollider-public .col-xs-1,
  #pollider-public .col-xs-10,
  #pollider-public .col-xs-11,
  #pollider-public .col-xs-12,
  #pollider-public .col-xs-2,
  #pollider-public .col-xs-3,
  #pollider-public .col-xs-4,
  #pollider-public .col-xs-5,
  #pollider-public .col-xs-6,
  #pollider-public .col-xs-7,
  #pollider-public .col-xs-8,
  #pollider-public .col-xs-9 {
    width: 100%;
    display: table-row !important;
    padding: 0 !important;
  }
  #pollider-public .push {
    left: 0;
  }
  #pollider-public .pull {
    right: 0;
  }
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
  #pollider-public #home {
    float: left;
    padding: 0 15px 0 15px;
    width: 100%;
  }
  #pollider-public #home #mobile-nav {
    display: none !important;
  }
  #pollider-public .desktop-only {
    display: none;
  }
  #pollider-public #scroll-down-wrapper,
  #pollider-public #post-banner {
    display: none;
  }
  #pollider-public .desktop-only {
    display: none;
  }
  #pollider-public .mobile-only {
    display: inline-block;
  }
  #pollider-public div#mobile-nav {
    display: inline-block;
  }
  #pollider-public div.content .inner-content {
    padding: 0 15px 0 15px;
  }
  #pollider-public div#profile-container {
    width: 100%;
    right: -100%;
  }
  #pollider-public #profile-home {
    position: relative;
    float: left;
    padding-left: 0;
  }
  #pollider-public div#profile-container-toggled {
    width: 100%;
    right: 0;
  }
  #pollider-public div#contact-container {
    width: 100%;
    right: -100%;
  }
  #pollider-public div#contact-container-toggled {
    width: 100%;
    right: 0;
  }
  #pollider-public div#post-content {
    padding-right: 10px;
  }
  #pollider-public #post-banner {
    height: initial;
  }
  #pollider-public div#post-nav {
    display: none !important;
  }
  #pollider-public .image-enlarge-container,
  #pollider-public .image-enlarge-container-toggled {
    display: none !important;
  }
  #pollider-public div.toggle-content {
    margin-top: 0;
    padding: 0 20px 0 20px;
  }
  #pollider-public div.toggle-content .greeting {
    font-size: 35px;
  }
  #pollider-public div.toggle-content p {
    font-size: 18px;
    line-height: 32px !important;
  }
  #pollider-public div.toggle-content .user-name {
    font-size: 18px;
  }
  #pollider-public .col-lg-1,
  #pollider-public .col-lg-10,
  #pollider-public .col-lg-11,
  #pollider-public .col-lg-12,
  #pollider-public .col-lg-2,
  #pollider-public .col-lg-3,
  #pollider-public .col-lg-4,
  #pollider-public .col-lg-5,
  #pollider-public .col-lg-6,
  #pollider-public .col-lg-7,
  #pollider-public .col-lg-8,
  #pollider-public .col-lg-9,
  #pollider-public .col-md-1,
  #pollider-public .col-md-10,
  #pollider-public .col-md-11,
  #pollider-public .col-md-12,
  #pollider-public .col-md-2,
  #pollider-public .col-md-3,
  #pollider-public .col-md-4,
  #pollider-public .col-md-5,
  #pollider-public .col-md-6,
  #pollider-public .col-md-7,
  #pollider-public .col-md-8,
  #pollider-public .col-md-9,
  #pollider-public .col-sm-1,
  #pollider-public .col-sm-10,
  #pollider-public .col-sm-11,
  #pollider-public .col-sm-12,
  #pollider-public .col-sm-2,
  #pollider-public .col-sm-3,
  #pollider-public .col-sm-4,
  #pollider-public .col-sm-5,
  #pollider-public .col-sm-6,
  #pollider-public .col-sm-7,
  #pollider-public .col-sm-8,
  #pollider-public .col-sm-9,
  #pollider-public .col-xs-1,
  #pollider-public .col-xs-10,
  #pollider-public .col-xs-11,
  #pollider-public .col-xs-12,
  #pollider-public .col-xs-2,
  #pollider-public .col-xs-3,
  #pollider-public .col-xs-4,
  #pollider-public .col-xs-5,
  #pollider-public .col-xs-6,
  #pollider-public .col-xs-7,
  #pollider-public .col-xs-8,
  #pollider-public .col-xs-9 {
    width: 100%;
    display: table-row !important;
    padding: 0 !important;
  }
  #pollider-public .push {
    left: 0;
  }
  #pollider-public .pull {
    right: 0;
  }
}
@media print {
  #pollider-public div#mobile-nav {
    display: none;
  }
  #pollider-public #post-content {
    padding: 0 !important;
  }
  #pollider-public #post-header {
    padding: 0 !important;
  }
  #pollider-public div.content .inner-content {
    padding: 0 25px 0 25px;
  }
  #pollider-public .desktop-only {
    display: none;
  }
  #pollider-public #scroll-down-wrapper,
  #pollider-public #post-banner {
    display: none;
  }
  #pollider-public .col-lg-1,
  #pollider-public .col-lg-10,
  #pollider-public .col-lg-11,
  #pollider-public .col-lg-12,
  #pollider-public .col-lg-2,
  #pollider-public .col-lg-3,
  #pollider-public .col-lg-4,
  #pollider-public .col-lg-5,
  #pollider-public .col-lg-6,
  #pollider-public .col-lg-7,
  #pollider-public .col-lg-8,
  #pollider-public .col-lg-9,
  #pollider-public .col-md-1,
  #pollider-public .col-md-10,
  #pollider-public .col-md-11,
  #pollider-public .col-md-12,
  #pollider-public .col-md-2,
  #pollider-public .col-md-3,
  #pollider-public .col-md-4,
  #pollider-public .col-md-5,
  #pollider-public .col-md-6,
  #pollider-public .col-md-7,
  #pollider-public .col-md-8,
  #pollider-public .col-md-9,
  #pollider-public .col-sm-1,
  #pollider-public .col-sm-10,
  #pollider-public .col-sm-11,
  #pollider-public .col-sm-12,
  #pollider-public .col-sm-2,
  #pollider-public .col-sm-3,
  #pollider-public .col-sm-4,
  #pollider-public .col-sm-5,
  #pollider-public .col-sm-6,
  #pollider-public .col-sm-7,
  #pollider-public .col-sm-8,
  #pollider-public .col-sm-9,
  #pollider-public .col-xs-1,
  #pollider-public .col-xs-10,
  #pollider-public .col-xs-11,
  #pollider-public .col-xs-12,
  #pollider-public .col-xs-2,
  #pollider-public .col-xs-3,
  #pollider-public .col-xs-4,
  #pollider-public .col-xs-5,
  #pollider-public .col-xs-6,
  #pollider-public .col-xs-7,
  #pollider-public .col-xs-8,
  #pollider-public .col-xs-9 {
    width: 100%;
    display: block !important;
  }
  #pollider-public #profile {
    display: none;
  }
  #pollider-public a[href]:after {
    content: none !important;
  }
  #pollider-public #post-nav {
    display: none;
  }
  #pollider-public #main-header {
    display: none;
  }
  #pollider-public img[src]:after {
    content: none !important;
  }
  #pollider-public p {
    font-size: 14px;
  }
}
