doctype html
html
  head
    title=title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type", content="text/html, charset=utf-8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/theme/default/style/font.css")
    link(rel="stylesheet", href="/theme/default/style/style.css")
  body
    block content
    script(type='text/javascript', src='/javascripts/app.js' async)
